In [12]:
# A list l as below:

l = [1,2,3,3,2424,5252,525,633,66,6.5,4+5j,[9,8,7,6],(1,2,3,4),{4,5,6,7}, "This is CS50", "SAHEEN"]

In [3]:
len(l)

15

In [4]:
range(len(l))

range(0, 15)

### To print the index and the elements of the list w/o using the index method

In [5]:
for i in range(len(l)):
    print(f"{i}, {l[i]}")

0, 1
1, 2
2, 3
3, 3
4, 2424
5, 5252
6, 525
7, 633
8, 66
9, 6.5
10, (4+5j)
11, [9, 8, 7, 6]
12, (1, 2, 3, 4)
13, {4, 5, 6, 7}
14, This is CS50

In [139]:
# Another approach using enumerate function

for i in enumerate(l):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 3)
(4, 2424)
(5, 5252)
(6, 525)
(7, 633)
(8, 66)
(9, 6.5)
(10, (4+5j))
(11, [9, 8, 7, 6])
(12, (1, 2, 3, 4))
(13, {4, 5, 6, 7})
(14, 'This is CS50')

In [140]:
# Another approach to seperately use index and the element using the enumerate function

for i, j in enumerate(l):
    print(f"index {i} for the element {j}")

index 0 for the element 1
index 1 for the element 2
index 2 for the element 3
index 3 for the element 3
index 4 for the element 2424
index 5 for the element 5252
index 6 for the element 525
index 7 for the element 633
index 8 for the element 66
index 9 for the element 6.5
index 10 for the element (4+5j)
index 11 for the element [9, 8, 7, 6]
index 12 for the element (1, 2, 3, 4)
index 13 for the element {4, 5, 6, 7}
index 14 for the element This is CS50

### To print the index and the elements of the list by using the index method

In [6]:
for i in l:
    print(f"{l.index(i)},", i)

0, 1
1, 2
2, 3
2, 3
4, 2424
5, 5252
6, 525
7, 633
8, 66
9, 6.5
10, (4+5j)
11, [9, 8, 7, 6]
12, (1, 2, 3, 4)
13, {4, 5, 6, 7}
14, This is CS50

### To print a list of iterated elements of the string from the list

In [15]:
for i in l:
    if type(i) == str:
        l1 = []
        for j in i:
            l1.append(j)
        print (l1)

['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'C', 'S', '5', '0']
['S', 'A', 'H', 'E', 'E', 'N']

### To print the list of "power of all int elements" from the list

In [10]:
l2 = []

for i in l:
    if type(i) == int:
        l2.append(i**2)

print(l2)

[1, 4, 9, 9, 5875776, 27583504, 275625, 400689, 4356]

### for-else loop
### Using break statement to break the entire loop

In [21]:
for i in l:
    if i == 3:
        break
    print(i)
else:
    print("Check the statement")

1
2

### To break the statemtnt in presence of a particular element (in this case 3) and then continuing with other elements.

In [25]:
for i in l:
    if i == 3:
        continue
        break
    print(i)
else:
    print("Check the statement")

1
2
2424
5252
525
633
66
6.5
(4+5j)
[9, 8, 7, 6]
(1, 2, 3, 4)
{4, 5, 6, 7}
This is CS50
SAHEEN
Check the statement

### While Loop Sayntax

In [36]:
a = 1

while a < 6:
    print(a)
    a += 1

1
2
3
4
5

### Other keywords used

In [ ]:
pass
break
continue

### Program to print pyramid pattern as below

In [75]:
for i in range(10):
    for j in range(i+1):
        print('🤖', end ='')
    print(end='\n')

🤖
🤖🤖
🤖🤖🤖
🤖🤖🤖🤖
🤖🤖🤖🤖🤖
🤖🤖🤖🤖🤖🤖
🤖🤖🤖🤖🤖🤖🤖
🤖🤖🤖🤖🤖🤖🤖🤖
🤖🤖🤖🤖🤖🤖🤖🤖🤖
🤖🤖🤖🤖🤖🤖🤖🤖🤖🤖

In [51]:
for i in range(11):
    print(i *'🤖')
    i += 1

🤖
🤖🤖
🤖🤖🤖
🤖🤖🤖🤖
🤖🤖🤖🤖🤖
🤖🤖🤖🤖🤖🤖
🤖🤖🤖🤖🤖🤖🤖
🤖🤖🤖🤖🤖🤖🤖🤖
🤖🤖🤖🤖🤖🤖🤖🤖🤖
🤖🤖🤖🤖🤖🤖🤖🤖🤖🤖

### Working with tuple and loops

### Use a for loop to reverse a collection of elements in a tuple

In [78]:
t = (23,42,46,24,64,27,49,25,54)

In [127]:
list1 = []

for i in range(len(t)-1,-1,-1):            # Note that the values in range() is very logical
    list1.append(t[i])

t2 = tuple(list1)
print(t2)

(54, 25, 49, 27, 64, 24, 46, 42, 23)

In [125]:
# Regular Approach

t[::-1]

(54, 25, 49, 27, 64, 24, 46, 42, 23)

### Same using while loop:

In [161]:
l = []
i = len(t)-1

while i >=0 :
    l.append(t[i])
    i -= 1

print(tuple(l))

(54, 25, 49, 27, 64, 24, 46, 42, 23)

## Working with dictionary and loops

In [128]:
dictionary = {'a':"Saheen",'b':"Ahzan",'c':[1,2,3,4,5],'d':(1,2,3,4,5),'e':12345}

In [135]:
for i in dictionary:
    print(i, dictionary[i])

a Saheen
b Ahzan
c [1, 2, 3, 4, 5]
d (1, 2, 3, 4, 5)
e 12345

In [138]:
# Another approach by using dictionary.items() method

dictionary.items()

dict_items([('a', 'Saheen'), ('b', 'Ahzan'), ('c', [1, 2, 3, 4, 5]), ('d', (1, 2, 3, 4, 5)), ('e', 12345)])

In [137]:
for i in dictionary.items():
    print(i)

('a', 'Saheen')
('b', 'Ahzan')
('c', [1, 2, 3, 4, 5])
('d', (1, 2, 3, 4, 5))
('e', 12345)

##### To seperate the list of elements with different length in dict keys

In [184]:
d = {"India":"IN",
     "China":"CH",
     "United States":"US",
     "Germany":"DE"
}

greater= []
lesser = []

for i in d.keys():
    if len(i) > 5:
        greater.append(i)
    else:
        lesser.append(i)

print(f"Greater than len(5): {l1}\nLess than or equal to len(5): {l2}")

Greater than len(5): ['United States', 'Germany']
Less than or equal to len(5): ['India', 'China']

##### To find the maximum number from each nested dictionary inside another dict

In [232]:
d = {
    "ineruron":
        {'a':14,
         'b':10,
         'c':4
         },
    "course":
        {'d':45,
         'e':34,
         'f':1
    }
}

for i in d.keys():
    print(i)
    print(max(d[i].values()))

ineruron
14
course
45

In [267]:
# To find the maximum integer value of all the values in the parent dictionary

d = {"ineuron":{'a':14,'b':10,'c':4},"course":{'d':45,'e':34,'f':1},'g':34, 'h':[45,6,7,8,9,3],'i':(45,34,2),'k':"saheen",'l':35+7j,'m':{23,3,54}}

l1 = []
for i in d.values():
    if type(i) in [list, tuple, set]:
        for j in i:
            l1.append(j)
    elif type(i) == int:
        l1.append(i)
    elif type(i) == dict:
        for k in i.values():
            l1.append(k)
    else:
        pass
print(f"maximum int value in the parent dict, d is {max(l1)}")

maximum int value in the parent dict, d is 54

### To seperate the list of elements with different length in dict keys

## Working with sets and loops

In [150]:
# Sets are UN-ORDERED collection of values

s = {12,14,1,41,74,6,34,5,74,7,3}

In [151]:
s

{1, 3, 5, 6, 7, 12, 14, 34, 41, 74}

In [152]:
# Now you can see that sets are UN-ORDERED while iterating through each element in a set

for i in s:
    print(i)

1
34
3
5
6
7
41
74
12
14

In [153]:
# To have it sorted:

for i in sorted(s):
    print(i)

1
3
5
6
7
12
14
34
41
74

### Finding vowels in the strings

In [164]:
s = "ineuron"
v = "AaEeIiOoUu"

for i in s:
    if i in v:
        print(f"{i} - Vowel")
    else:
        print(f"{i} - Not vowel")

i - Vowel
n - Not vowel
e - Vowel
u - Vowel
r - Not vowel
o - Vowel
n - Not vowel

In [165]:
'h' in "Saheen"

True

### Finding if a string is palindrome or not

In [83]:
# Most easiest approach

s = "malayalam"

if s[::-1] == s:
    print("Palindrome")
else:
    print("Not Palindrome")

Palindrome

In [131]:
# Same using a WHILE - ELSE loop

s = "malayalam"
i = 0

while i < len(s):
    if s[len(s)-i-1] != s[i]:
        print("Not Palindrome")
        break
    i += 1
else:
    print("Palindrome")

Palindrome

In [82]:
# Same using a FOR - ELSE loop

s = "malayalam"

for i in range(len(s)):
    if s[i] != s[len(s)-i-1]:
        print("Not Palindrome")
        break
    i += 1
else:
    print("Palindrome")

Palindrome

In [153]:
# By using reverse operation of the same string and comparing using a WHILE and IF loop

s = "malayalam"
s1 = ""
i = len(s)-1

while i >= 0:
    s1 = s1 + s[i]
    i -= 1
if s1 == s:
    print("Palindrome")
else:
    print("Not Palindrome")

Palindrome