# LIST COMPREHENSION

#### Defining a simple problem using a regular FUNCTION

In [9]:
def listplus2(l):
    l1 = []
    for i in l:
        l1.append(i+2)
    return l1

listplus2([1,2,3,4,5])

[3, 4, 5, 6, 7]

#### Defining the same problem using a LAMBDA FUNCTION

In [7]:
# The same using lambda function

a = lambda l : [i+2 for i in l]

a([1,2,3,4,5])

[3, 4, 5, 6, 7]

#### Defining the same problem using a LIST COMPREHENSION

In [10]:
# What is list comprehension:
l = [1,2,3,4,5]
[i+2 for i in l]

[3, 4, 5, 6, 7]

#### A List Comprehension for multiple operations and a conditional statement in the same List comprehension

In [20]:
l = [1,2,3,4,5,6,7,8,9,10,100,1000,10000,100000,1000000000]

[(i+2, i+i, i**2) for i in l if i < 10]

[(3, 2, 1),
 (4, 4, 4),
 (5, 6, 9),
 (6, 8, 16),
 (7, 10, 25),
 (8, 12, 36),
 (9, 14, 49),
 (10, 16, 64),
 (11, 18, 81)]

In [31]:
# The same above function using a regular function

def test1(l):
    l1 = []
    for i in l:
        if i < 10:
            l1.append((i+2, i+i, i**2))
    return l1
        


l = [1,2,3,4,5,6,7,8,9,10,100,1000,10000,100000,1000000000]

test1(l)

[(3, 2, 1),
 (4, 4, 4),
 (5, 6, 9),
 (6, 8, 16),
 (7, 10, 25),
 (8, 12, 36),
 (9, 14, 49),
 (10, 16, 64),
 (11, 18, 81)]

In [5]:
# Now, the same List Comprehension inside a lambda function

a = lambda l : [(i+2,i+i,i**2) for i in l if i < 10]


l = [1,2,3,4,5,6,7,8,9,10,100,1000,10000,100000,1000000000]
a(l)

[(3, 2, 1),
 (4, 4, 4),
 (5, 6, 9),
 (6, 8, 16),
 (7, 10, 25),
 (8, 12, 36),
 (9, 14, 49),
 (10, 16, 64),
 (11, 18, 81)]

# DICTIONARY COMPREHENSION

#### A dictionary comprehension where the output will be a dictionary, with key as a number and the value will be its power

In [4]:
a = 2

{a : a**2}

{2: 4}

#### Same dict comprehension using range function

In [10]:
{i : i**2 for i in range(11)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

#### A dictionary comprehension where we will take input as a list and the output will be a dictionary, with key as a number and the value will be its power

In [8]:
l = [1,2,3,4,5,6,7,8,9,10]

{i : i**2 for i in l}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

# TUPLE COMPREHENSION

In [2]:
# To perform similar operations into a tuple type

((i,i**2) for i in range(11))

# Note that you would get a generator object

In [3]:
# Instead of the generator object, to get its values in a tuple,

tuple(((i,i**2) for i in range(11)))

((0, 0),
 (1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81),
 (10, 100))